 body{
    height: 100vh;
    background: linear-gradient(
      to top,
      #DFA9FF 0%,
      #DFA9FF 50%,
      #B454FF 50%,
      #B454FF 100%
    );
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }